


<div class="dropdown">
    <button class="btn dropdown-toggle lanhce-list-menu ps-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Lanches
    </button>
    <ul class="dropdown-menu dropdown-menu-lanche">
        @foreach (var categoria in Model)
        {
            <li>
                <a class="dropdown-item" type="button" asp-controller="Lanche" asp-action="List" asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>
            </li>
        }
        <li><hr class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item" type="button" asp-controller="Lanche" asp-action="List" asp-route-categoria="">Todos os Lanches</a>
        </li>
    </ul>
</div>