

<div class="col-md-6 py-5 mx-auto">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Acesso negado!</h2>
        <p>Parece que você não tem um perfil de administrador. Retorne a página inicial ou realize o login com seu perfil de administrador.</p>
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index" asp-area="">Voltar a página incial</a>
    </div>
</div>
