@model LoginViewModel


<section class="container py-4">

    <div class="row align-items-md-stretch m-5">
        <div class="col-md-6">
            <div class="h-100 p-4 rounded-">
                <img src="~/images/Login/login.svg" width="100%" />

            </div>
        </div>
        <div class="col-md-6 ">
            <div class="h-100 p-2 bg-body-tertiary border rounded-3">

                <h2 class="text-center">Login</h2>

                <form asp-controller="Account" asp-action="Login" method="post" class="login mt-5">

                   
                    <input type="hidden" asp-for="ReturnUrl"/>

                    <div class="row mb-3 ps-5">
                        <label asp-for="UserName" class="col-sm-2 col-form-label"><i class="fa-solid fa-user"></i></label>
                        <div class="col-sm-10 ps-0">
                            <input type="email" placeholder="Usuário" class="form-control" asp-for="UserName">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        
                    </div>

                    <div class="row mb-3 ps-5">
                        <label asp-for="Password"  class="col-sm-2 col-form-label"><i class="fa-solid fa-lock"></i></label>
                        <div class="col-sm-10 ps-0">
                            <input type="password" placeholder="Senha" class="form-control" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                       
                    </div>

                    <div class="d-grid  mx-auto p-5">
                        <button class="btn btn-danger" type="submit">Entrar</button>
                    </div>
                    
                </form>
               
            </div>

        </div>
    </div>

</section>
