


<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="~/images/carousel/1.png"/></div>
        <div class="swiper-slide"><img src="~/images/carousel/2.png" /></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>