


<header class="mb-5">
    <h2 class="text-center">Fale Conosco</h2>
</header>

<section class="contact container-lg row row-cols-2 mb-2">

 
    <aside class="titleContact col">
        <img src="~/images/contact/contact.svg" />

        <h4>Fale conosco, gostariamos de saber sua opinião.</h4>

    </aside>


    <div class="allContacts col">

        <h3 class="mb-3">Contatos</h3>

        <div class="card  mb-3 shadow">
            <div class="card-body d-flex typeContact">

               <email endereco="victor.chaves460@gmail.com" conteudo="enviar um e-mail"><i class="fa-solid fa-square-envelope"></i> </email>

                <email endereco="victor.chaves460@gmail.com" conteudo="enviar um e-mail"> <i class="fa-solid fa-arrow-right"></i></email>


            </div>
        </div>

        <div class="card  mb-3 shadow">
            <div class="card-body d-flex typeContact">

                <i class="fa-brands fa-square-whatsapp"></i>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>

            </div>
        </div>

        <div class="card  mb-3 shadow">
            <div class="card-body d-flex typeContact">

                <a href="https://www.google.com/maps" target="_blank"><i class="fa-solid fa-map-location-dot"></i></a>
                <a href="https://www.google.com/maps" target="_blank"><i class="fa-solid fa-arrow-right"></i> </a>

            </div>
        </div>

    </div>

</section>








