@model HomeViewModel

<partial name="_Carousel" />


<section class="favorites container-xl">

    <div class="favorites-title">
        <h2 class="text-center">Os Favoritos</h2>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 gap-5 justify-content-center m-0  ">

        @foreach (var item in Model.LanchesPreferidos)
        {
            <partial name="_LancheResumo" for="@item" />
        }

    </div>
</section>





