@model HomeViewModel

<partial name="_Carousel"/>


<div class="m-0">
    <h2 class="text-center mt-4 fs-1">Os preferidos</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 gap-5 justify-content-center m-0  ">

        @foreach (var item in Model.LanchesPreferidos)
        {
            <partial name="_LancheResumo" for="@item" />
        }

    </div>
</div>





