@model HomeViewModel

<partial name="_Carousel" />


<section class="favorites container-fluid pe-1 ps-1">

    <div class="favorites-title d-flex gap-5">
        <h2 class="text-center">Os Favoritos</h2>
        <img src="~/images/favorites/emoji-stars.svg"/>
    </div>

    <div class="lanches-favoritos row row-cols-1 row-cols-sm-2 row-cols-md-4 gap-5 justify-content-center">

        @foreach (var item in Model.LanchesPreferidos)
        {
            <partial name="_LancheResumo" for="@item" />
        }

    </div>

    <aside class="container-fluid p-0 mt-3 ">

        <div class="">
            <img src="~/images/favorites/favorites-background.svg" width="100%"/>
        </div>

    </aside>

</section>




