@import url("variables.css");


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* BELLOW 767px (Tablets)*/

@media(max-width: 767px) {

    .carrinho-compra-component {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .offcanvas-header h5 {
        margin: auto;
    }
}
