@import url("variables.css");


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* BELLOW 991px (Tablets) */

@media(max-width: 991px) {

    h1{
        font-size: 3rem;
    }

    h2{ 
        font-size:2.5rem;
    }

    .carrinho-compra-component {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .offcanvas-header h5 {
        margin: auto;
        font-size: 1.7rem;
        font-family: var(--hero-font);
    }

    .nav-item a, .lanhce-list-menu, .dropdown-menu-lanche a {
        font-family: var(--default-font);
        font-weight: 500;
        color: var(--primary-color) !important;
    }

    .dropdown-menu-lanche {
        background-color: #FFFFFF;
    }
}
