@import url("variables.css");



html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1 {
    font-family: var(--hero-font);
    font-size: 3.5rem;
    color: var(--primary-color);
    margin: 0px;
}

h2 {
    font-family: var(--hero-font);
    font-size: 3rem;
    color: var(--second-color);
    margin: 0px;
}


/* HEADER */


.lanhce-list-menu {
    padding-bottom: 7px;
    padding-left: 0rem;
}

.navbar-menu {
    background-color: var(--primary-color);
}

.nav-item a, .lanhce-list-menu, .dropdown-menu-lanche a {
    color: #FFB300 !important;
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 0.9rem;
}

.dropdown-menu-lanche {
    background-color: var(--primary-color);
}


.carrinho-compra-component {
    position: absolute;
    right: 2rem;
}

    .carrinho-compra-component img {
        width: 2.4rem;
    }


/*CARROUSEL HERO*/


.hero {
    padding-left: 0rem;
    padding-right: 0px;
}


/*LANHCES FAVORITOS*/

.favorites {
    margin-top: 2rem;
}

.favorites-title {
    padding: 0.5rem;
    margin-bottom: 3rem;
    align-items: flex-end;
    justify-content: center;
}

.lanches-favoritos {
    margin-bottom: 4rem;
}

.favorites aside {
    position: relative;
}

.favorites-footer {
    margin-top: 2rem;
}



/*CARRINHO COMPRA*/


.header-carrinho-compra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 3rem 0rem;
}

.card-item-lanche-carrinho {
    width: 12.6rem;
    height: 14.3rem;
    padding: 0px;
    margin-bottom: 1rem;
}

    .card-item-lanche-carrinho h4 {
        bottom: -32px;
        position: absolute;
        width: 100%;
        margin: 0px;
        padding: 0.5rem;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5rem;
        color: #ffffff;
        background-color: var(--primary-color);
    }

.badge-quantidade {
    top: 5px;
    right: -35px;
    padding: 0.8rem;
    border-radius: 20px;
    letter-spacing: -2px;
    font-size: 1rem;
    background-color: var(--second-color);
}

.tableCarrinhoCompra {
    margin-top: 3rem;
}



/*FLIP CARD LANCHE*/

.card-lanche {
    width: 12.6rem;
    height: 14.3rem;
    margin-bottom: 3.9rem;
}

.flip-card-lanche {
    width: 100%;
    height: 100%;
    margin-bottom: 0.3rem;
    cursor: pointer;
    background-color: transparent;
    perspective: 1000px;
}


.flip-card-lanche-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.card-lanche-front, .card-lanche-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-lanche-front {
    background-color: #bbb;
    color: black;
}

    .card-lanche-front h4 {
        position: absolute;
        top: 0px;
        width: 100%;
        padding: 0.3rem 0.1rem;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5rem;
        color: #ffffff;
        background-color: #B40000;
    }

.valorLanhce {
    position: absolute;
    bottom: 1rem;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.3rem;
    padding-bottom: 0.3rem;
    background-color: #FFA100;
    border-radius: 8px;
}

    .valorLanhce h5 {
        font-family: 'Bebas Neue', sans-serif;
        color: #B40000;
        font-size: 1.5rem;
        padding-top: 1rem;
    }


.card-lanche-back {
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.5rem;
    transform: rotateY(180deg);
}


    .card-lanche-back h5 {
        color: var(--second-color);
        font-family: var(--hero-font);
    }

    .card-lanche-back p {
        text-align: inherit;
        padding: 1rem 0.5rem 0rem 0.5rem;
        font-size: 0.8rem;
        color: white;
    }



.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

    .content h5 {
        font-size: 1rem;
        font-family: var(--default-font);
    }

    .content i {
        font-size: 1.6rem;
    }

.card-lanche-front:hover .content {
    opacity: 1;
}


/*CONTATO */


.contact {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.titleContact {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    padding: 2rem 3rem 4rem 0rem;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

    .titleContact h4 {
        width: 20rem;
        text-align: center;
    }

.allContacts {
    width: 28rem;
    height: 100%;
    padding-left: 5rem;
}

    .allContacts h3 {
        font-size: 1.4rem;
    }

.typeContact {
    justify-content: space-between;
}

    .typeContact i {
        font-size: 1.6rem;
        cursor: pointer;
        color: #263E51;
    }

.fa-arrow-right:hover {
    transform: scale(1.2);
}

/*CHECKOUT*/

.section-checkout input {
    margin-bottom: 1.5rem;
}

/*CHECKOUT COMPLETO*/

.checkout-completo {
    width: 45rem;
}

.header-checkout-completo{
    background-image: url(../images/icons/motoboy-vermelho.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 520px
}

.accordion span {
    color: var(--primary-color);
}

.checkout-completo-data-pedido {
    text-align: right;
}