@model LancheListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>@Model.CategoriaAtual</h1>

<div class="container-xxl align-content-center">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LancheResumo" for="@lanche"/>
        }
    </div>
</div>
