@model LancheListViewModel

@{
    ViewData["Title"] = "List";
}

<h1 class="text-center">@Model.CategoriaAtual</h1>

<div class="container-xl">
    <div class="row justify-content-center gap-1">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LancheResumo" for="@lanche"/>
        }
    </div>
</div>
